<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetOuAiza</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Deconnexion</servlet-name>
  	<servlet-class>servlet.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Deconnexion</servlet-name>
  	<url-pattern>/Profil/Deconnexion</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>EvenementServlet</servlet-name>
  	<servlet-class>servlet.EvenementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EvenementServlet</servlet-name>
  	<url-pattern>/evenementServlet</url-pattern>
  </servlet-mapping>
  
      <servlet>
  	<servlet-name>LieuServlet</servlet-name>
  	<servlet-class>servlet.LieuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LieuServlet</servlet-name>
  	<url-pattern>/lieuServlet</url-pattern>
  </servlet-mapping>
  
        <servlet>
  	<servlet-name>OrganisateurServlet</servlet-name>
  	<servlet-class>servlet.OrganisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>organisateurServlet</servlet-name>
  	<url-pattern>/OrganisateurServlet</url-pattern>
  </servlet-mapping>
  
          <servlet>
  	<servlet-name>ProfilServlet</servlet-name>
  	<servlet-class>servlet.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProfilServlet</servlet-name>
  	<url-pattern>/profilServlet</url-pattern>
  </servlet-mapping>
  
            <servlet>
  	<servlet-name>RecommandationServlet</servlet-name>
  	<servlet-class>servlet.RecommandationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RecommandationServlet</servlet-name>
  	<url-pattern>/recommandationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddCommentaire</servlet-name>
  	<servlet-class>servlet.CommentaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddCommentaire</servlet-name>
  	<url-pattern>/addCommentaire</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddNote</servlet-name>
  	<servlet-class>servlet.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddNote</servlet-name>
  	<url-pattern>/addNote</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddRecommandation</servlet-name>
  	<servlet-class>servlet.RecommandationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddRecommandation</servlet-name>
  	<url-pattern>/addRecommandation</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FileUpload</servlet-name>
  	<servlet-class>servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUpload</servlet-name>
  	<url-pattern>/fileUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MobileLogin</servlet-name>
  	<servlet-class>servlet.LoginTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MobileLogin</servlet-name>
  	<url-pattern>/Profil/loginMobile</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageProfilServlet</servlet-name>
  	<servlet-class>servlet.ImgProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageProfilServlet</servlet-name>
  	<url-pattern>/imgProfil/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageLieuServlet</servlet-name>
  	<servlet-class>servlet.ImgLieuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageLieuServlet</servlet-name>
  	<url-pattern>/imgLieu/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageOrganisateurServlet</servlet-name>
  	<servlet-class>servlet.ImgProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageOrganisateurServlet</servlet-name>
  	<url-pattern>/imgOrganisateur/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageAfficheServlet</servlet-name>
  	<servlet-class>servlet.ImgAfficheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageAfficheServlet</servlet-name>
  	<url-pattern>/imgAffiche/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageRecommandationServlet</servlet-name>
  	<servlet-class>servlet.ImgRecommandationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageRecommandationServlet</servlet-name>
  	<url-pattern>/imgRecommandation/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageMenuServlet</servlet-name>
  	<servlet-class>servlet.ImgMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageMenuServlet</servlet-name>
  	<url-pattern>/imgMenu/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>RechercheServlet</servlet-name>
  	<servlet-class>servlet.RechercheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RechercheServlet</servlet-name>
  	<url-pattern>/rechercheMobile</url-pattern>
  </servlet-mapping>
</web-app>